body {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    width: 100%;
    height: 60px;
    background-color:skyblue;    
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

div {
    width: 100%;
    height: 882px;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.homeBT {
    width: 10%;
    height: 50px;
    border-radius: 5px;
    margin: 20px 0px;
    border: none;
}

.homeBT:active {
    transition: none;
    color:white;
    width: 8%;
}

p {
    color: black;
}

#homeBT1 {
    background-color: #733EF7;
    transition-duration: 0.4s;
    cursor: pointer;
}

#homeBT2 {
    background-color: #3E7CF7;
    transition-duration: 0.4s;
    cursor: pointer;
}

#homeBT3 {
    background-color: #3EB7F7;
    transition-duration: 0.4s;
    cursor: pointer;
}

#aboutMeBT1 {
    background-color: #3EF7B9;
    transition-duration: 0.4s;
    cursor: pointer;
}

#aboutMeBT2 {
    background-color: #3EF78A;
    transition-duration: 0.4s;
    cursor: pointer;
}

#aboutMeBT3 {
    background-color: #5DF73E;
    transition-duration: 0.4s;
    cursor: pointer;
}

#locationBT1 {
    background-color: #E1F73E;
    transition-duration: 0.4s;
    cursor: pointer;
}

#locationBT2 {
    background-color: #F7F73E;
    transition-duration: 0.4s;
    cursor: pointer;
}

#locationBT3 {
    background-color: #F7CA3E;
    transition-duration: 0.4s;
    cursor: pointer;
}

#orderBT1 {
    background-color: #F79B3E;
    transition-duration: 0.4s;
    cursor: pointer;
}

#orderBT2 {
    background-color: #F7763E;
    transition-duration: 0.4s;
    cursor: pointer;
}

#orderBT3 {
    background-color: #F73E3E;
    transition-duration: 0.4s;
    cursor: pointer;
}



#homeBT1:hover {
    background-color: #4A26A5;
}

#homeBT2:hover {
    background-color: #254FA3;
}

#homeBT3:hover {
    background-color: #2376A2;
}

#aboutMeBT1:hover {
    background-color: #1FA176;
}

#aboutMeBT2:hover {
    background-color: #22A156;
}

#aboutMeBT3:hover {
    background-color: #39A424;
}

#locationBT1:hover {
    background-color: #909F21;
}

#locationBT2:hover {
    background-color: #A4A41E;
}

#locationBT3:hover {
    background-color: #9C7D1E;
}

#orderBT1:hover {
    background-color: #95591D;
}

#orderBT2:hover {
    background-color: #95401B;
}

#orderBT3:hover {
    background-color: #8E1C1C;
}